<div class="footer">
	<div class="about">
		<div class="about-me">
			<div class="title">
				<span class="title">关于我</span>
			</div>
			<div class="content">
				<ul class="contact-me">
					<li class="email">
						<a class="name" href="mailto:fox20431@gmail.com">Email</a>
					</li>
					<li class="github">
						<a class="name" href="https://github.com/fox20431">Github</a>
					</li>
					<li class="bilibili">
						<a class="name" href="https://space.bilibili.com/9192551">Bilibili</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>