.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
        padding-inline: 60px;
        background-color: #fff;
        width: 960px;
        .post {
            margin-top: 20px;

            .title {
                font-family: serif;
                font-size: 48px;
            }
            .body {
                padding-inline: 20px;
                font-family: sans-serif;
                font-size: 24px;
                color: #808080;
            }
        }
        .post:first-child {
            margin-top: 40px;
        }
        .post:last-child {
            margin-bottom: 40px;
        }
    }
}

