<div>
	<div class="input">
		<div>
			<span>输入十进制RGB值</span>
		</div>
		<div>
			<div>
				<span>红色：</span>
				<input id="redValueInput" type="text" (input)="convert($event)">
			</div>
			<div>
				<span>绿色：</span>
				<input id="greenValueInput" type="text" (input)="convert($event)">
			</div>
			<div>
				<span>蓝色：</span>
				<input id="blueValueInput" type="text" (input)="convert($event)">
			</div>
		</div>
	</div>
	<div class="output">
		<div id="color-display" #colorDisplay></div>
		<div>
			<span>
				输出十六进制RGB值
			</span>
		</div>
		<div>
			<div>
				<span>红色：</span>
				<span>{{ hexRedValueString }}</span>
			</div>
			<div>
				<span>绿色：</span>
				<span>{{ hexGreenValueString }}</span>
			</div>
			<div>
				<span>蓝色：</span>
				<span>{{ hexBlueValueString }}</span>
			</div>
		</div>
	</div>
</div>