.footer {

	background-color: #f5f5f7;
	overflow: hidden;
	color: #6e6e73;
	font-size: 12px;
	font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	height: 56px;

	.wrapper {
		width: 1280px;
		margin: 0 auto;

		.about-me {
			margin-top: 8px;
			margin-left: 56px;

			.title {
				color: #1d1d1f;
				font-weight: 600;
			}
			
			.contact-me {
				display: flex;
				flex-direction: row;
				list-style-type: none !important;

				a {
					&:hover {
						text-decoration: underline;
					}

					color: #424245;
					text-decoration: none;
				}

				.name {
					margin-left: 12px;
				}
			}
		}

	}
}